<% include ../commonHead.ejs %>
<% include ../navBar.ejs %>
<div class="centerScreen text-center">
    <p>Authorization on <span><%= targetService %></span> <%= message %></p>
</div>
<% include ../commonFooter.ejs %>