<% include ./../commonHead %>
<% include ./../navBar %>

<div class="row">
    <div id="mainImageWrapper">
        <a><img src="images/logo2.png" /></a>
    </div>
</div>
<div class="text-center row" id="downloadText">
    <a href="https://mega.co.nz/#!mJtHxRJD!IclIzEsCCjQpLlkqhnxJk76EfINdZ66D9vzVNUhsA58">Download Cloudomatic Application</a>
</div>


<% include ./../commonFooter %>






